html {
  background: url(images/background.jpeg) no-repeat center center fixed;
}

header {
  text-align: center;
  background: #80a7bf;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-shadow: 1px 1px #022840;
}

body,
h1 {
  padding: 0;
  margin: 0;
  border: 0;
}

h2 {
  margin: 0;
}

h1 {
  font-size: 48px;
}

.main {
  background: white;
  width: 75%;
  margin: 100px auto;
  border-radius: 20px;
  border: solid 10px #80a7bf;
  padding: 15px;
}

.score {
  float: right;
  color: #d93a2b;
  font-family: 'Rubik', sans-serif;
}

.score-header {
  margin: 10px;
}

.reset,
.start,
.next {
  color: #d93a2b;
  font-family: 'Rubik', sans-serif;
  border: solid 2px #d93a2b;
  font-size: 14px;
}

.headline {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #d93a2b;
  display: inline;
  padding: 20px;
  font-style: italic;
}

.flag {
  width: 30px;
  height: 15px;
  margin: 0px 5px 0px 0px;
}

#ul li {
  display: inline;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.next {
  margin-left: 20px;
}
